body {
	margin: 0;  
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

.home {
	background-image: url("image1.png");
	background-size: cover;
	height: 100vh;
}

.home-learn{
	background-image: url("image2.png");
	background-size: cover;
	height: 100vh;
}

.home-prices{
	background-image: url("image3.png");
	background-size: cover;
	height: 100vh;
}

nav {
	text-align: center;
	padding-top: 2%;
}
.logo {
	display: inline-block;
	color: #4EBD5B;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 45px;
	
}
nav a {
	text-decoration: none;
	color: #626063;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 25px;
	letter-spacing: 2px;
	font-weight: 700;
}
.banner-area {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
}
.banner-area h3 {
	font-size: 80px;
	text-transform: capitalize;
	color:#4961D3;
	margin: 0 0 40px 0;
	line-height: 1;
}
.banner-area h3 span{
	color: black;
}
.banner-area h2 {
	margin: 0;
	padding: 0;
	color: black;
	font-size: 2em;
	line-height: 0;
}
.banner-area h2 span {
	color: #4961D3;
}
.banner-area a {
	display: inline-block;
	margin-top: 50px;
	text-decoration: none;
	color: #fff;
	border: 3px solid #4961D3;
	padding: 10px 30px;
	font-size: 20px;
	border-radius: 5px;
	text-transform: uppercase;
}


.text-container-getstarted {
	text-align: left;
  }
  
  /* Media query for md and below */
  @media (max-width: 768px) {
	.text-container-getstarted {
	  text-align: center;
	}
  }

@media (max-width:800px) {
	nav a {
		font-size: 16px;
		margin: 0 10px;
	}
	.banner-area h2 {
		font-size: 1.7em;
	}
	.banner-area h3 {
		margin: 0 0 20px 0;
		font-size: 70px;
	}
	.home {
		background-position: 58%;
	}
}
@media (max-width: 767px){
	.banner-area h3 {
		font-size: 35px;
	}
	.banner-area h2 {
		font-size: 1em;
	}
	.banner-area a {
		font-size: 14px;
		margin-top: 30px;
	}
	nav a {
		font-size: 8px;
		margin: 0 5px;
	}
	.logo {
		font-size: 30px;
	}
	.home {
		background-position: 60%;
	}
}  